mixin word(esWord, ...engWord)
  -let count = 0
  tr.container-table__word
    while count < engWord.length
      td.eng-word #{engWord[count]}
        input(type="text").word-input
        .analyze.learned(title="Learned")
        button(title="Show answer").word-answer ðŸ‘ï¸
      -count++

    //- Adding past and participle to regular verbs that weren't added to third parameter
    if pageTitle === 'Regular Verbs' && engWord.length === 1
      -let presentWord = engWord[0]
      -let lastLetter = presentWord.charAt(presentWord.length - 1)

      td.eng-word= `${engWord[0]}${lastLetter === 'e' ? 'd' : 'ed'}`
        input(type="text").word-input
        button(title="Show answer").word-answer ðŸ‘ï¸
    td(class=`${pageTitle === 'Alphabet' || pageTitle === 'Numbers' ? '' : 'es-word'}`) #{esWord}
      input(type="text").word-input
      //- span.es.learned(title="Learned")
      button(title="Show answer").word-answer ðŸ‘ï¸

.table-cont
  unless pageTitle === 'Alphabet'
    h2.practice-title Practice Translate
    div.practice-translate
      button.practice-english Practice English
      button.practice-spanish Practice Spanish

    div.practice-translate
      button#filter-not-learned Filter not learned words

  table.container-table#container-table
    thead
      if pageTitle === 'Irregular Verbs' || pageTitle === 'Common Verbs'
        tr.container-table__type
          th.container-table__title-eng#english-word(title="Order by A-Z") English
          th.container-table__title-eng Past
          th.container-table__title-eng Participle
          th.container-table__title-es#spanish-word(title="Order by A-Z") Spanish

      else if pageTitle === 'Regular Verbs'
        tr.container-table__type
          th.container-table__title-eng#english-word(title="Order by A-Z") English
          th.container-table__title-eng Past and Participle
          th.container-table__title-es#spanish-word(title="Order by A-Z") Spanish

      else if pageTitle === 'Alphabet'
        tr.container-table__type
          th.container-table__title-eng English
          th.container-table__title-es Pronunciation

      else if pageTitle === 'Numbers'
        tr.container-table__type
          th.container-table__title-es Number
          th.container-table__title-eng English

      else
        tr.container-table__type
          th.container-table__title-eng#english-word(title="Order by A-Z") English
          th.container-table__title-es#spanish-word(title="Order by A-Z") Spanish

    tbody
      block table